@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(25, 97%, 53%);
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
}

.visibility {
    display:none;
}

.container {
    background-color: var(--Very-Dark-Blue) ;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.content {
    
    background-image: linear-gradient(to bottom ,hsl(213, 25%, 15%),hsl(213, 25%, 10%));
    border-radius: 30px;
    width:410px;
    padding:20px;
  
    
}
#star-img {
    border-radius: 50%;
    padding:15px;
    background-color: hsl(213, 19%, 20%);
   margin:10px;
}
h2 {
    color: white;
    margin-top:15px;
    padding-left:10px;
    font-size:1.7rem;

}
p {
    color:var(--Medium-Grey);
    padding-left:10px;
    margin-top:10px;
    
    line-height:1.5rem;
}
.circles {
    display:flex;
    justify-content:space-around;
    
    margin-top:25px;
}
.btn {
    border-radius: 50%;
    padding:17px 20px;
    background-color: var(--Dark-Blue);
    color:var(--Medium-Grey);
    font-size: 1rem;
    border:none;
    margin:0;
    
}
.btn:hover {
    cursor: pointer;
    background-color:var(--Orange) ;
    color:#fff;
}


.active {
    background-color: var(--Medium-Grey);
    color:white;
}
.submit {
    margin:30px 15px 15px;
    
}
.submit button {
    text-transform: uppercase;
    border:none;
    padding:15px;
    width:100%;
    background-color: var(--Orange);
    color: white;
    letter-spacing:2px;
    border-radius: 30px;

}
.submit button:hover  {
    cursor: pointer;
    background-color: #fff;
    color:var(--Orange);
}
.thanks {
  display: flex;
  flex-direction: column;
  align-items:center;
    justify-content: center;
}

.img-thanks {
   
    margin-top:25px;
}

.select-p {
    display: flex;
    justify-content:center;
    
}
.select-p button {
    margin-top:25px;
    color:var(--Orange);
    font-size: 15px;;
    background-color: var(--Dark-Blue);
    padding:3px 20px;
    line-height: 27px;;
    border-radius:30px;
    border:none
    
}
.select-p button:hover {
    cursor: pointer;
    background-color: var(--Orange);
    color:white;
}
.thanks h2 {
    margin-top:30px;
}
.desc {
  
    text-align: center;
    margin:10px 10px 30px;
}

@media (max-width:375px){
    .content {
        
        border-radius: 30px;
        width:330px;
        padding:20px;
        
    }
    #star-img {
        
        padding:12px;
    }
    h2 {
        color: white;
       
        padding-left:10px;
        font-size:1.5rem;
    
    }
}




















